.mainPage {
  display: flex;
  justify-content: center;
}

.product_wrap {
  border: solid 1px brown;
  display: flex;
  align-items: center;
  margin: 10px 0;

  button {
    background-color: chartreuse;
    color: white;
    border: none;
    border-radius: 8px;

    &:hover {
      background-color: aqua;
    }
  }
}

.increase_button {
  font-size: 20px;
  font-weight: 900;
  border: solid 1px blue;
  padding: 0 8px;
  cursor: pointer;
}

.customer_button {
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 8px;
  margin-right: 8px;
  background-color: coral;
  color: white;
  border: none;

  &:hover {
    background-color: burlywood;
  }
}
